### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/pm-debug.log*
/yarn-debug.log*
/yarn-error.log*